states.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="states"
 targetNamespace="urn:xmethods-delayed-quotes"
 xmlns:tns="urn:xmethods-delayed-quotes"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:xmethods-delayed-quotes"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:xmethods-delayed-quotes"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:xmethods-delayed-quotes"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="getGrowBoxInfo">
</message>

<message name="GrowBoxInfo">
 <part name="HygroCnt" type="xsd:int"/>
 <part name="Temperature" type="xsd:float"/>
 <part name="Humidity" type="xsd:float"/>
 <part name="State" type="xsd:string"/>
</message>

<message name="performActionRequest">
 <part name="actionCode" type="xsd:int"/>
</message>

<message name="performActionResponse">
 <part name="return-Code" type="xsd:int"/>
</message>

<portType name="statesPortType">
 <operation name="getGrowBoxInfo">
  <documentation>Service definition of function ns__getGrowBoxInfo</documentation>
  <input message="tns:getGrowBoxInfo"/>
  <output message="tns:GrowBoxInfo"/>
 </operation>
 <operation name="performAction">
  <documentation>Service definition of function ns__performAction</documentation>
  <input message="tns:performActionRequest"/>
  <output message="tns:performActionResponse"/>
 </operation>
</portType>

<binding name="states" type="tns:statesPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getGrowBoxInfo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="performAction">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="states">
 <documentation>gSOAP 2.7.9a generated service definition</documentation>
 <port name="states" binding="tns:states">
  <SOAP:address location="http://services.xmethods.net/soap"/>
 </port>
</service>

</definitions>
